.wrapper: .section.section-posts
    .post-item: .post-item-inner
        .post-item-header
            .post-item-nth 1
            | Plaats uw stelling
        .post-item-body
            | Ontwerp eenvoudig stellingen voor elke situatie. 
    .post-item: .post-item-inner
        .post-item-header
            .post-item-nth 2
            | Bereik specifieke doelgroepen
        .post-item-body
            | Bereik betrouwbaar specifieke doelgroepen.
    .post-item: .post-item-inner
        .post-item-header
            .post-item-nth 3
            | Direct inzicht 
        .post-item-body
            | Krijg direct inzicht in de resultaten. Alle resultaten worden overzichtelijk in kaart gebracht.