extends layout/layout
block content
    .wrapper
        .about
            .logo
                span Quick Dev Template! 
            hr
            p.text-center 
                b Quick Dev Template
                br
                | (
                a(href="https://www.npmjs.com/package/gulp") gulp
                | , 
                a(href="https://www.npmjs.com/package/browser-sync") browser-sync
                | , 
                a(href="https://www.npmjs.com/package/gulp-sass") scss
                | , 
                a(href="https://www.npmjs.com/package/gulp-pug") pug
                | , 
                a(href="https://www.npmjs.com/package/bootstrap") bootstrap 3
                | , 
                a(href="https://www.npmjs.com/package/jquery") jquery
                | , 
                a(href="https://www.npmjs.com/package/mdi") mdi
                | , 
                a(href="https://www.npmjs.com/package/angular") angular
                | , 
                a(href="https://www.npmjs.com/package/underscore") underscore
                | , 
                a(href="https://www.npmjs.com/package/underscore.string") underscore.string
                | )
                br