.fancy-selector(ng-if="accounts.length > 1 || account.type == 'organisation'")
    .button.button-dim.button-wide(ng-if="!account" ng-click="showOptionsBtn()") CHOOSE IDENTITY
    
    .fancy-selector-active(ng-if="account" ng-click="showOptionsBtn()")
        .fancy-selector-label Wissel van identiteit
        .fancy-selector-value(ng-bind="account.name")
        .fancy-selector-arrow.mdi.mdi-chevron-right

    .fancy-selector-options(ng-show="showOptions")
        .fancy-selector-options-backdrop(ng-click="hideOptionsBtn()")
        .fancy-selector-options-header
            .fancy-selector-options-title Wissel identiteit
            .fancy-selector-options-close(ng-click="hideOptionsBtn()") Annuleren
    
        .fancy-selector-options-body
            a(href="#" ng-repeat="account in accounts" ng-click="selectAccount(account.access_token)").fancy-selector-option
                img(ng-src="assets/img/icon-validator-{{ account.type == 'personal' ? 'digid.png' : 'gemeente-zuidhorn.png' }}").fancy-selector-option-icon
                .fancy-selector-option-title(ng-bind="account.name")
                .fancy-selector-option-subtitle(ng-bind="account.type == 'personal' ? 'Persoonlijke identiteit' : 'Organisatie identiteit'")
                .fancy-selector-option-arrow.mdi.mdi-chevron-right

            a(ui-sref="auth-restore").fancy-selector-option-add
                .fancy-selector-option-add-icon.mdi.mdi-account-plus-outline
                .fancy-selector-option-add-text Add existing identity
                .fancy-selector-option-add-arrow.mdi.mdi-chevron-right

            a(ui-sref="auth-register").fancy-selector-option-add
                .fancy-selector-option-add-icon.mdi.mdi-account-plus
                .fancy-selector-option-add-text Make new identity
                .fancy-selector-option-add-arrow.mdi.mdi-chevron-right