.view-footer-account
    .view-footer-nav
        a(ui-sref="wallet-tokens" ng-class="{'icon-active' : $root.$state.current.name == 'wallet'}").icon-left
            em.mdi.mdi-wallet
            | Eigendom
        a(ui-sref="qr-scanner").icon-center: em.mdi.mdi-qrcode-scan
        a(ui-sref="records" ng-class="{'icon-active' : $root.$state.current.name == 'records'}").icon-right
            em.mdi.mdi-format-list-checks
            | Eigenschappen         
