extends layout/layout
block header-nodes
    .wrapper
        // ng-init='searchInput="'+query+'";'
        div(search-offerts data-search=query)

        .block.block-margin-bottom
            .label.label-light 
                h1.label-title Search results
                | Available grants and donations based on your search criteria
                strong #{results.length} 
                | items

block content
    .body
        .wrapper
            .block.block-search-options
                -for (var i = results.length - 1; i >= 0; i--)
                    a(href=results[i].url).block-search-options-item #{ results[i].name }
