.view-content
    br
    .hero
        .hero-title {{ $ctrl.transaction.amount }} {{ $ctrl.transaction.coin.name }}
        .hero-subtitle Ontvangen
    .text.text-muted.text-center 
        | Verplaats je kindpakket vouchers naar je Me app

.view-footer: .row
    .col.col-2: button(ng-click="$ctrl.decline()").button.button-dim.button-wide WEIGER
    .col.col-2: button(ng-click="$ctrl.accept()").button.button-success.button-wide ACCEPTEER


.popup(ng-if="$ctrl.showAccepted")
    .popup-backdrop(ui-sref="records")
    .popup-content: .popup-content-inner
        .popup-content-header
            .popup-title Aanmelden
            .popup-subtitle Wacht op bevestiging
            .popup-close Sluit
        .popup-content-body
            .popup-icon: img(src="assets/img/icon-popup-success.png").popup-icon-img
            .popup-heading.text-center Geslaagd!
            .popup-text.text-center Uw gegevens zijn succesvol verwerkt
        .popup-footer
            button(ui-sref="records").button.button-success.button-wide SLUIT
    
.popup.popup-dim(ng-if="$ctrl.showDeclined")
    .popup-backdrop(ui-sref="records")
    .popup-content: .popup-content-inner
        .popup-content-header
            .popup-title Niet gevalideerd
            .popup-close(ui-sref="records") Sluit
        .popup-content-body
            .popup-icon: img(src="assets/img/icon-popup-error.png").popup-icon-img
            .popup-heading.text-center Eigenschappen zijn niet gevalideerd
            .popup-text.text-center Uw gegevens zijn niet gevalideerd
        .popup-footer
            button(ui-sref="records").button.button-dim.button-wide SLUIT