.view-content
    .form
        .form-group
            label.form-label OMSCHRIJVING
            input(ng-model="$ctrl.form.values.description" type="text" placeholder="Vul de beschrijving in").form-control
            .form-error(ng-repeat="err_msg in $ctrl.form.errors.description" ng-bind="err_msg")
        .form-group
            label.form-label BEDRAG
            input(ng-model="$ctrl.form.values.amount" type="number" placeholder="Vul het bedrag in").form-control
            .form-error(ng-repeat="err_msg in $ctrl.form.errors.amount" ng-bind="err_msg")

.view-footer
    a(href="#" ng-click="$ctrl.showQrCode()").button.button-success.button-wide AANVRAAG INDIENEN