.view-content: form(action="/" ng-submit="$ctrl.submit()").form
    .form-group
        label(for="first_name").form-label VOORNAAM
        input(name="first_name" id="first_name" type="text" placeholder="Vul uw voornaam in" ng-model="$ctrl.form.values.records.first_name").form-control
        .form-error(ng-repeat="error_msg in $ctrl.form.errors['records.first_name']" ng-bind="error_msg")
    .form-group
        label(for="last_name").form-label ACHTERNAAM
        input(name="last_name" id="last_name" type="text" placeholder="Vul uw achternaam in" ng-model="$ctrl.form.values.records.last_name").form-control
        .form-error(ng-repeat="error_msg in $ctrl.form.errors['records.last_name']" ng-bind="error_msg")
    .form-group
        label(for="bsn").form-label BURGERSERVICENUMMER
        input(name="bsn" id="bsn" type="text" placeholder="Vul uw burgerservicenummer in" ng-model="$ctrl.form.values.records.bsn").form-control
        .form-error(ng-repeat="error_msg in $ctrl.form.errors['records.bsn']" ng-bind="error_msg")
    .form-group
        label(for="email").form-label E-MAILADRES
        input(name="email" id="email" type="text" placeholder="Vul uw e-mailadres in" ng-model="$ctrl.form.values.records.email").form-control
        .form-error(ng-repeat="error_msg in $ctrl.form.errors['records.email']" ng-bind="error_msg")
    .form-group
        label(for="phone").form-label TELEFOONNUMMER
        input(name="phone" id="phone" type="text" placeholder="Vul uw telefoonnummer in" ng-model="$ctrl.form.values.records.phone").form-control
        .form-error(ng-repeat="error_msg in $ctrl.form.errors['records.phone']" ng-bind="error_msg")

.view-footer: .row
    .col.col-4: a(ng-click="$ctrl.submit()").button.button-success.button-wide PROFIEL TOEVOEGEN
    .col.col-4: a(ng-click="$ctrl.fillStd()").button.button-dim.button-wide VUL DEMO