.view-content: .form
    .qr-code-element: img(src="assets/img/qr-code.png")
    .text.text-center.text-muted Let delegates scan this address to restore your access
    .hero
        .hero-title 1 of 3
        .hero-subtitle Required: 2

.view-footer: a(href="#" ui-sref="records").button.button-dim.button-wide ADD PROFILE