.view-content
    .qr-code-element.qr-code-element-lg#qrcode
    .heading.text-center Log in via de QR-Code
    .text.text-center.text-muted Scan deze QR-Code met een ander apparaat waar u al op aangemeld bent

.view-footer: .row
    .col.col-4: button(ng-click="$ctrl.requestPinCode()").button.button-primary.button-wide INLOGGEN MET PINCODE
    .col.col-4: button(ng-click="$ctrl.requestEmailToken()").button.button-dim.button-wide INLOGGEN VIA E-MAIL

.popup.popup-success(ng-if="$ctrl.showPinCode")
    .popup-backdrop(ng-click="$ctrl.requestPinCodeClose()")
    .popup-content: .popup-content-inner
        .popup-content-header
            .popup-title Aanmelden
            .popup-subtitle &nbsp;
            div(ng-click="$ctrl.requestPinCodeClose()").popup-close Annuleren
        .popup-content-body
            .popup-pincodeview
                .pincodeview
                    .pincodeview-digit(ng-bind="$ctrl.pinCode[0]") 
                    .pincodeview-devider • 
                    .pincodeview-digit(ng-bind="$ctrl.pinCode[1]") 
                    .pincodeview-devider • 
                    .pincodeview-digit(ng-bind="$ctrl.pinCode[2]") 
                    .pincodeview-devider • 
                    .pincodeview-digit(ng-bind="$ctrl.pinCode[3]") 
                    .pincodeview-devider • 
                    .pincodeview-digit(ng-bind="$ctrl.pinCode[4]") 
                    .pincodeview-devider • 
                    .pincodeview-digit(ng-bind="$ctrl.pinCode[5]") 
                
            .text.text-center Vul deze pincode in uw profiel in
            .text-center 
                .button.button-narrow.button-primary-outline Hoe werkt het?
        .popup-content-footer
            button(ng-click="$ctrl.requestPinCodeClose()").button.button-dim.button-wide SLUIT

.popup(ng-if="$ctrl.showEmailForm")
    .popup-backdrop(ng-click="$ctrl.requestEmailTokenClose()")
    .popup-content: .popup-content-inner
        .popup-content-header
            .popup-title Aanmelden
            .popup-subtitle Lorem ipsum dolor sit amet, consectetur
            div(ng-click="$ctrl.requestEmailTokenClose()").popup-close Annuleren
        .popup-content-body
            .form
                .form-group
                    label.form-label E-MAIL
                    input(type="text" placeholder="uw e-mailadres" ng-model="$ctrl.emailForm.values.email").form-control
                    .form-error(ng-repeat="error in $ctrl.emailForm.errors.email" ng-bind="error")
                .form-group
                    label.form-label HERHAAL E-MAIL
                    input(type="text" placeholder="herhaal uw e-mailadres" ng-model="$ctrl.emailForm.values.email_confirmation").form-control
                    .form-error(ng-repeat="error in $ctrl.emailForm.errors.email_confirmation" ng-bind="error")
        .popup-content-footer
            button(ng-click="$ctrl.requestEmailTokenSubmit()").button.button-success.button-wide BEVESTIGEN

.popup(ng-if="$ctrl.showEmailSent")
    .popup-backdrop(ng-click="$ctrl.hideEmailSentSuccess()")
    .popup-content: .popup-content-inner
        .popup-content-header
            .popup-title Aanmelden
            .popup-subtitle Wacht op bevestiging
            .popup-close(ng-click="$ctrl.hideEmailSentSuccess()") Sluit
        .popup-content-body
            .popup-icon: img(src="assets/img/icon-popup-success.png").popup-icon-img
            .popup-heading.text-center Geslaagd!
            .popup-text.text-center Uw gegevens zijn succesvol verwerkt

