.view-content: .splash.splash-login
    .splash-content.splash-content-b
        .splash-logo: img(src="assets/img/login-logo.svg")
        .splash-title Welkom bij Me
        .splash-subtitle Stel uw identiteit in
        .button.button-wide.button-success.mrg.mrg-bottom-20(ui-sref="auth-register") NIEUWE AANMAKEN
        .button.button-wide.button-success-outline.mrg.mrg-bottom-20(ui-sref="auth-restore") IK HEB EEN ME IDENTITEIT

        
        //account-switcher