.view-content: .splash.splash-login: .splash-content
    .splash-logo: img(src="assets/img/login-logo.svg")
    .splash-title Welcome to Me
    .splash-subtitle Let’s set up your identity
    .button.button-wide.button-success.mrg.mrg-bottom-20(ui-sref="auth-register") CREATE NEW
    .button.button-wide.button-success-outline.mrg.mrg-bottom-20(ui-sref="auth-restore") RESTORE IDENTITY