.view-content
    .heading Lorem ipsum dolor sit amet.
    br
    .text.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam totam, saepe a expedita numquam quibusdam perferendis eaque rem alias, ullam consequatur eius sit pariatur velit obcaecati adipisci quas earum enim labore magnam.
    .text.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas unde atque quia, fugiat commodi, esse necessitatibus nesciunt ea harum illo sunt, consectetur saepe. Iste quae, excepturi cupiditate neque consequatur atque dolore.
    
    .heading Lorem ipsum dolor sit amet.
    br
    .text.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat recusandae maxime, exercitationem sapiente laboriosam consequuntur. Illum.