.view-content
    br
    .hero
        .hero-title 120 BAT
        .hero-subtitle Requested
    .text.text-muted.text-center 
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor

.view-footer: .row
    .col.col-2: a(href="#" ui-sref="wallet").button.button-dim.button-wide DECLINE
    .col.col-2: a(href="#" ui-sref="wallet").button.button-success.button-wide ACCEPT