.view-content
    .qr-code-element.qr-code-element-lg#qrcode
    .heading.text-center Here is your personal QR-Code
    .text.text-center.text-muted Let somebody scan your personal QR-Code to send you tokens, assets or tickets

account-footer
