.view-content
    .qr-code-element.qr-code-element-lg#qrcode
    .heading.text-center Hier is je persoonlijke QR-Code
    .text.text-center.text-muted Laat iemand uw persoonlijke QR-code scannen om u valuta, bezit of vouchers te sturen

    .text: account-switcher

    .button.button-wide.button-dim(ng-click="$ctrl.showPinCodeForm = !$ctrl.showPinCodeForm") Authorize Pin Code

    .popup(ng-show="$ctrl.showPinCodeForm")
        .popup-backdrop(ng-click="$ctrl.showPinCodeForm = !$ctrl.showPinCodeForm")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Authorize Pin Code
                .popup-subtitle Lorem ipsum dolor sit amet, consectetur
                .popup-close(ng-click="$ctrl.showPinCodeForm = !$ctrl.showPinCodeForm") Annuleren
            .popup-content-body
                .form
                    .form-group
                        label.form-label PIN CODE
                        input(ng-model="$ctrl.pincodeForm.values.pincode" type="number" placeholder="pincode").form-control.pincode-input
                        .form-error(ng-repeat="error in $ctrl.pincodeForm.errors.pincode" ng-bind="error")
            .popup-content-footer
                div(ng-click="$ctrl.authorizePinCode()").button.button-success.button-wide BEVESTIGEN
    
    .popup(ng-show="$ctrl.showPinCodeFormSuccess")
        .popup-backdrop(ng-click="$ctrl.showPinCodeFormSuccess = !$ctrl.showPinCodeFormSuccess")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Aanmelden
                .popup-subtitle Wacht op bevestiging
                .popup-close(ng-click="$ctrl.showPinCodeFormSuccess = !$ctrl.showPinCodeFormSuccess") Sluit
            .popup-content-body
                .popup-icon: img(src="assets/img/icon-popup-success.png").popup-icon-img
                .popup-heading.text-center Geslaagd!
                .popup-text.text-center Uw gegevens zijn succesvol verwerkt
            .popup-content-footer
                div(ng-click="$ctrl.showPinCodeFormSuccess = !$ctrl.showPinCodeFormSuccess").button.button-success.button-wide BEVESTIGEN
account-footer
