.view-content.transparent
.view-footer
    a(ui-sref="records").button.button-dim.button-wide Annuleren

    .popup.popup-primary(ng-if="$ctrl.notAvailableQr")
        .popup-backdrop(ng-click="$ctrl.reloadState()")
        .popup-content: .popup-content-inner
            .popup-content-body
                .popup-hero
                    .popup-hero-label
                        | Not available in
                        br 
                        | current
                    .popup-hero-value Demo
            .popup-content-footer
                button(ng-click="$ctrl.reloadState()").button.button-primary.button-wide CLOSE
