.view-content
    .form
        .form-group
            label.form-label CONTACTNAAM
            input(type="text" placeholder="Vul naam in").form-control
        .form-group
            label.form-label TOKEN ADRES
            input(type="text" placeholder="Vul adres in").form-control
        .form-group
            label(for="add_contact").checkbox
                input(name="add_contact" id="add_contact" type="checkbox" hidden)
                .checkbox-box: .mdi.mdi-check
                .checkbox-text Voeg toe aan mijn contacten.

.view-footer
    a(href="#" ui-sref="wallet").button.button-success.button-wide BEVESTIG