.view-content
    .text  Deze applicatie vraagt om toestemming voor het gebruik van de volgende:
    .list
        .list-item(ng-repeat="item in $ctrl.items")
            em.mdi.mdi-check.icon
            | {{ item }}
    .form
        label.form-label TOESTAAN VOOR
        .form-group
            select.form-control
                option(value="#") 1 uur
                option(value="#") 6 uur
                option(value="#") 12 uur
                option(value="#") 1 dag
                option(value="#") 7 dag
                option(value="#") 1 maand
                option(value="#") 6 maanden
                option(value="#") 1 jaar
                option(value="#") 5 jaren
                option(value="#") Altijd
    
    account-switcher

.view-footer: .row
    .col.col-2: a(href="#" ng-click="$ctrl.respond(false)").button.button-primary.button-wide WEIGEREN
    .col.col-2: a(href="#" ng-click="$ctrl.respond(true)").button.button-success.button-wide TOESTAAN