.view-content
    .popup.popup-primary(ng-if="$ctrl.showQrCode")
        .popup-backdrop(ui-sref="records")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Validatie
                .popup-subtitle Validatie verzoek. Scan de QR-Code
                .popup-close(ui-sref="records") Sluit
            .popup-content-body
                .popup-qrcode#qrcode
                .text.text-center Toon deze QR-code aan de validator
                .text-center 
                    .button.button-narrow.button-primary-outline Kijk wie jouw gegevens kan valideren

    .popup.popup-purple(ng-if="$ctrl.showTimer")
        .popup-backdrop(ui-sref="records")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Aanmelden
                .popup-subtitle Wacht op bevestiging
                .popup-close(ui-sref="records") Annuleren
            .popup-content-body
                .popup-icon: img(src="assets/img/icon-popup-stopwatch.png").popup-icon-img
                .popup-heading.text-center Wacht voor bevestiging
                .popup-text.text-center Uw gegevens worden verwerkt. Dit kan maximaal 5 minuten in beslag nemen

    .popup(ng-if="$ctrl.showAccepted")
        .popup-backdrop(ui-sref="records")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Gevalideerd
                .popup-close(ui-sref="records") Sluit
            .popup-content-body
                .popup-icon: img(src="assets/img/icon-popup-success.png").popup-icon-img
                .popup-heading.text-center Eigenschappen zijn gevalideerd
                .popup-text.text-center Geslaagd! Uw eigenschappen zijn gevalideerd

    .popup.popup-dim(ng-if="$ctrl.showDeclined")
        .popup-backdrop(ui-sref="records")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Niet gevalideerd
                .popup-close(ui-sref="records") Sluit
            .popup-content-body
                .popup-icon: img(src="assets/img/icon-popup-error.png").popup-icon-img
                .popup-heading.text-center Eigenschappen zijn niet gevalideerd
                .popup-text.text-center Uw gegevens zijn niet gevalideerd
            .popup-footer: button(ui-sref="records").button.button-dim.button-wide Ok