.view-content
    .list-group-list
        .list-group-header VALIDATORS
        mixin list_group_item_inner(icon, title, subtitle)
            img(src="assets/img/" + icon + ".png").list-group-icon
            .list-group-title #{title}
            .list-group-subtitle #{subtitle}
            .list-group-arrow.mdi.mdi-chevron-right

        mixin list_group_item(validator, icon, title, subtitle, enable)
            if enable
                .list-group-item(ng-click="$ctrl.validate('" + validator + "')"): +list_group_item_inner(icon, title, subtitle)
            else
                .list-group-item: +list_group_item_inner(icon, title, subtitle)
        
        .list-group-items
            +list_group_item('digid', 'icon-validator-digid', 'DigiD', 'Open DigiD app', true)
            +list_group_item('gemeente-zuidhorn', 'icon-validator-gemeente-zuidhorn', 'Gemeente Zuidhorn', 'Municipality validation')
            +list_group_item('gemeente-almelo', 'icon-validator-gemeente-almelo', 'Gemeente Almelo', 'Municipality validation')
            +list_group_item('gemeente-emmen', 'icon-validator-gemeente-emmen', 'Gemeente Emmen', 'Municipality validation')
            +list_group_item('passport', 'icon-validator-passport', 'Passport', 'Scan your passport')

        .list-group-item-custom
            em.mdi.mdi-check.icon
            | Request custom validator
            .list-group-arrow.mdi.mdi-chevron-right