.view-content
    .splash
        .splash-header
            .splash-nav
                a(href="#" ui-sref="records"): em.mdi.mdi-arrow-left.icon-left
        .splash-content
            .splash-logo(ng-click="$ctrl.validate()"): img(src="assets/img/DigiD.png")
            .splash-title Open DigiD app
            .splash-subtitle (Op dit apparaat)