.view-content
    .form
        .form-group
            label.form-label ADRES
            input(type="text" placeholder="ADRES" ng-model="$ctrl.form.values.location").form-control
        .form-group
            label.form-label TYPE
            select.form-control(name="" disabled)
                option Gebouw

.view-footer
    button(ng-click="$ctrl.submit()").button.button-success.button-wide OPSLAAN
