.view-content
    .list-resources.list-resources-no-buttons
        mixin resource_item(value, label)
            .resource-item.resource-item-no-buttons
                .resource-value #{value}
                .resource-label #{label}

        +resource_item("Paradign NYE", "1 x entrance, Groningen")
        +resource_item("Stempas", "{{ $ctrl.stem_points }} x Gemeenteraadsverkiezingen")
        +resource_item("Flight 28.03.2018", "1 x Schiphol -> London Gatwick")

account-footer
