.view-content
    .ul-transactions
        .ul-transactions-title VANDAAG
        .li-transaction(
            ng-repeat="transaction in $ctrl.data.transactions" 
            ng-class="[(transaction.dir == 'in' ? 'li-transaction-in' : 'li-transaction-out')]"
            ng-click="$ctrl.showTransaction(transaction)")
            .li-transaction-icon: .mdi.mdi-earth
            .li-transaction-name(ng-bind="transaction.counterpart")
            .li-transaction-date(ng-bind="transaction.pretty_date")
            .li-transaction-amount 
                | {{ transaction.dir ? '+' : '-' }} {{ transaction.amount.toFixed(0) }},
                small {{ (transaction.amount.toFixed(2) + "").slice(-2) }}

                ctrl.showSplitVoucherPopup
                
    .popup(ng-if="$ctrl.showSplitVoucherPopup")
        .popup-backdrop(ng-click="$ctrl.closeSplitVoucherPopup()")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Voucher delen
                .popup-subtitle Vul het bedrag in om de voucher te delen
                .popup-close(ng-click="$ctrl.closeSplitVoucherPopup()") Annuleren
            .popup-content-body
                .form
                    .form-group
                        label.form-label VUL HET BEDRAG IN
                        input(type="text" placeholder="Bedrag" ng-model="$ctrl.splitVoucherForm.values.amount").form-control
                        .form-error(ng-repeat="error in $ctrl.splitVoucherForm.errors.amount" ng-bind="error")

            .popup-content-footer
                button(ng-click="$ctrl.sendSplitVoucherPopup()").button.button-success.button-wide GENEREREN

    .popup(ng-if="$ctrl.showSplitVoucherPopupSuccess")
        .popup-backdrop(ng-click="$ctrl.showSplitVoucherPopupSuccess = false;")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Aanmelden
                .popup-subtitle Wacht op bevestiging
                .popup-close Sluit
            .popup-content-body(ng-click="$ctrl.showSplitVoucherPopupSuccess = false;")
                .popup-icon: img(src="assets/img/icon-popup-success.png").popup-icon-img
                .popup-heading.text-center Geslaagd!
                .popup-text.text-center Uw gegevens zijn succesvol verwerkt

    .popup(ng-if="$ctrl.showEmailPopupSuccess")
        .popup-backdrop(ng-click="$ctrl.showEmailPopupSuccess = false;")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Aanmelden
                .popup-subtitle Wacht op bevestiging
                .popup-close(ng-click="$ctrl.showEmailPopupSuccess = false;") Sluit
            .popup-content-body
                .popup-icon: img(src="assets/img/icon-popup-success.png").popup-icon-img
                .popup-heading.text-center Geslaagd!
                .popup-text.text-center Uw gegevens zijn succesvol verwerkt
                
    .popup(ng-if="$ctrl.showEmailPopup")
        .popup-backdrop(ng-click="$ctrl.closeEmailPopup()")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title E-mail naar mij
                .popup-subtitle Vul uw e-mailadres in
                .popup-close(ng-click="$ctrl.closeEmailPopup()") Annuleren
            .popup-content-body
                .form
                    .form-group
                        label.form-label E-MAIL
                        input(type="text" placeholder="uw e-mailadres" ng-model="$ctrl.emailForm.email").form-control

            .popup-content-footer
                button(ng-click="$ctrl.sendEmailPopup()").button.button-success.button-wide VERSTUREN

    .popup(ng-if="$ctrl.targetTransaction" ng-class="[$ctrl.targetTransaction.dir == 'in' ? 'popup-primary' : 'popup-danger']")
        .popup-backdrop(ng-click="$ctrl.hideTransaction()")
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title(ng-bind="$ctrl.targetTransaction.dir == 'in' ? 'Transactie' : 'Aanmelden'")
                .popup-subtitle &nbsp;
                .popup-close(ng-click="$ctrl.hideTransaction()") Sluit
            .popup-content-body
                .popup-transaction(ng-class="[$ctrl.targetTransaction.dir == 'in' ? 'popup-transaction-in' : 'popup-transaction-out']")
                    .popup-transaction-counterpart
                        .popup-transaction-counterpart-icon.mdi.mdi-earth
                        .popup-transaction-counterpart-name(ng-bind="$ctrl.targetTransaction.counterpart")
                        .popup-transaction-counterpart-date(ng-bind="$ctrl.targetTransaction.pretty_date")

                    .popup-transaction-hero
                        .popup-transaction-hero-value(ng-bind="$ctrl.targetTransaction.amount.toFixed(2)")
                        .popup-transaction-hero-note(ng-bind="$ctrl.targetTransaction.dir == 'in' ? 'Ontvangen' : 'Betaald' ")

                    .popup-transaction-info(ng-if="$ctrl.targetTransaction.dir == 'in'")
                        .popup-transaction-info-label Verzonden vanaf:
                        .popup-transaction-info-value(ng-bind="$ctrl.targetTransaction.counterpart")
                        .popup-transaction-info-label Receiver:
                        .popup-transaction-info-value(ng-bind="$ctrl.account.name")
                        .popup-transaction-info-label Date:
                        .popup-transaction-info-value(ng-bind="$ctrl.targetTransaction.pretty_date")

                    .popup-transaction-info(ng-if="$ctrl.targetTransaction.dir == 'out'")
                        .popup-transaction-info-label Verzonden vanaf:
                        .popup-transaction-info-value(ng-bind="$ctrl.account.name")
                        .popup-transaction-info-label Receiver:
                        .popup-transaction-info-value(ng-bind="$ctrl.targetTransaction.counterpart")
                        .popup-transaction-info-label Date:
                        .popup-transaction-info-value(ng-bind="$ctrl.targetTransaction.pretty_date")
account-footer
