doctype
if (svg_icon)
    -var svgIcon = svg_icon;
else if (qdt_c)
    -var svgIcon = qdt_c.platform.libs_data.jade.svgIcon;
else
    -var svgIcon = function(name) {return "Icon - " + name;};

html(lang="en")
    include includes/head
    body(ng-app="fuApp", ng-controller="BaseCtrl", attr=bodyAttrs)
        include includes/dev-pages
        header.header
            .header-bg.header-bg-1
            .wrapper
                a(href="./").header-logo: img(src="./assets/img/logo.png", alt="")
                .header-auth
                    span.header-auth-avatar AM
                    span.header-auth-greeting Hello Alexander Maestro
                    span.header-auth-email myemail@gmail.com
            .header-nav
                .wrapper
                    a(href="#").header-nav-item Become a donor
                    a(href="#").header-nav-item Register as a supplier
                    a(href="#").header-nav-auth.pull-right
                        | Sign out
                        span.mdi.mdi-login-variant
            block header-nodes
        block content
        include includes/footer
        include includes/demo-popup
        include includes/scripts