extends layout/layout
block header-nodes
    .wrapper
        .block
            .label.label-light 
                h1.label-title Nieuwe woning staat leeg of nog in aanbouw
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

block content
    .body
        .wrapper
            .block.block-apply-verification
                div
                    .apply-verification-item.apply-verification-item-pass
                        span 1. 
                        | Registered at school
                        span.mdi.mdi-check
                    .apply-verification-item.apply-verification-item-pass
                        span 2. 
                        | < 5 bikes requested from Gemeente
                        span.mdi.mdi-check
                    .apply-verification-item.apply-verification-item-pass
                        span 3. 
                        | Parents income < € 5000
                        span.mdi.mdi-check
                    .apply-verification-item.apply-verification-item-fail
                        span 4. 
                        | Request from schoo
                        span.mdi.mdi-close
                .apply-verification-actions
                    a(href="#").button.button-base 
                        | Bevestigen
                        i.mdi.mdi-check
                    a(href="#").button.button-text 
                        i.mdi.mdi-close
                        | Anuleren