extends layout/layout
block header-nodes
    .wrapper
        div.block.block-header-offset

block content
    .body
        .wrapper
            .block.block-accept-terms: .block.block-content
                h1 Wheelchair subsidy
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quiC ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 

                h4 Who is eligible
                ul
                    li Lorem ipsum dolor sit amet consectetur adipiscing
                    li Excepteur sint occaecat cupidatat
                    li Voluptatem accusantium doloremque laudantium, totam rem aperiam
                    li Excepteur sint occaecat cupidatat
                    li Nostrud exercitation ullamco laboris nisi ut aliquip
                
                h4 Other information
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
                br
                br
    
                .form: .row
                    .col.col-2
                        a(href="#").button.button-base.button-full
                            | APPLY 
                            em.mdi.mdi-check.pull-right

                    .col.col-4
                        .grand-by.pull-right
                            | Grant offered by: 
                            img(src="assets/img/logo-donator.png")