extends layout/layout
block header-nodes
    .wrapper
        div(search-offerts)

        .block.block-margin-bottom
            .label.label-light 
                h1.label-title Search results
                | Lorem ipsum dolor sit amet consectetur adipiscing 
                strong 19 
                | items

block content
    .body
        .wrapper
            .block.block-search-options
                a(href="apply-verification.html").block-search-options-item First title 
                a(href="apply-verification.html").block-search-options-item Second title 
                a(href="apply-verification.html").block-search-options-item Third title 
                a(href="apply-verification.html").block-search-options-item Last title, like last at all.
                a(href="apply-verification.html").block-search-options-item Or maby not...
                a(href="apply-verification.html").block-search-options-item First title 
                a(href="apply-verification.html").block-search-options-item Second title 
                a(href="apply-verification.html").block-search-options-item Third title 
                a(href="apply-verification.html").block-search-options-item Last title, like last at all.
                a(href="apply-verification.html").block-search-options-item Or maby not...
                a(href="apply-verification.html").block-search-options-item First title 
                a(href="apply-verification.html").block-search-options-item Second title 
                a(href="apply-verification.html").block-search-options-item Third title 
                a(href="apply-verification.html").block-search-options-item Last title, like last at all.
                a(href="apply-verification.html").block-search-options-item Or maby not...