/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Open Sans', arial, sans-serif;

// text color
$tc:                #1e1e1e;

// base color
$bc:                #d13b3b;

// placeholder text color
$ptc:               #7a7a7a;