head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    title(ng-bind="'Zuidhorn. Kindpakket - ' + $root.$state.current.data.title")
        
    link(rel="icon" href=(env_data.html5Mode.enable?env_data.html5Mode.basePath:'') + "assets/img/favicon.png")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext', rel='stylesheet', type='text/css')

    //- material design icons (by google)
    if (qdt_c.platform.libs.mdi)
        link(rel="stylesheet", href=(env_data.html5Mode.enable?env_data.html5Mode.basePath:'') + "assets/dist/mdi/css/materialdesignicons.min.css")

    //- bootstrap 3
    if (qdt_c.platform.libs.bootstrap_3)
        link(rel="stylesheet", href=(env_data.html5Mode.enable?env_data.html5Mode.basePath:'') + "assets/dist/bootstrap/css/bootstrap.min.css")

    //- angular csp (cloack)
    if (qdt_c.platform.libs.angular)
        link(rel="stylesheet", href=(env_data.html5Mode.enable?env_data.html5Mode.basePath:'') + "assets/dist/angular/angular-csp.css")
    
    //- custom style
    link(rel="stylesheet" href=(env_data.html5Mode.enable?env_data.html5Mode.basePath:'') + "assets/css/style.min.css")

    if(env_data.html5Mode.enable)
        base(href=env_data.html5Mode.basePath)