.popup.popup-demo
    .popup-backdrop
    .popup-inner.text-center
        h1.popup-title Welcome to the demo of the platform Forus.
        .popup-description
            p This website presents the prizewinning concept that was created in 48 hours at the Dutch Blockchain Hackathon. It lays out a vision for how we, at Stichting Forus, think blockchain can benefit the public. We are currently hard at work towards making it a reality, and are always looking for partners.

            p Visit #[a(href="#").link stichtingforus.nl] to learn more about the foundation.
            br
            
            p: a.button.button-base Continue to the demo