.dev-pages
    h1 
        b Quick Dev Template (qdt) - Theme 
        | - website pages
    ul
        if (qdt_c)
            li: a(href="./index.html") Index
            li: a(href="./search-results.html") Search results
            li: a(href="./apply-verification-step-1.html") Apply verification - step 1
            li: a(href="./apply-verification-step-2.html") Apply verification - step 2
            li: a(href="./donate-category.html") Donate category
            li: a(href="./citizen-list.html") Citizen list
            li: a(href="./requests.html") Requests
            li: a(href="./make-donation.html") Make donation
            li: a(href="./become-a-supplier.html") Become a supplier
            li: a(href="./check-token.html") Check token

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off