footer.footer
    .wrapper
        .footer-col
            h4.footer-col-header Contact us

            .footer-col-contact-item
                .footer-col-contact-item-label Telephone:
                | (0594) 50 88 88
            .footer-col-contact-item
                .footer-col-contact-item-label E-mail: 
                | gemeente@zuidhorn.nl 
            .footer-col-contact-item
                .footer-col-contact-item-label Address:
                | Hooiweg 9, 9801 AJ Zuidhorn 
            .footer-col-contact-item
                .footer-col-contact-item-label WhatsApp:
                | 06 48 58 60 03
        .footer-col
            h4.footer-col-header Useful links

            .footer-col-item 
                em.mdi.mdi-chevron-double-right
                | Gladheid en strooien
            .footer-col-item 
                em.mdi.mdi-chevron-double-right
                | Openingstijden
            .footer-col-item 
                em.mdi.mdi-chevron-double-right
                | Vacatures en stages
            .footer-col-item 
                em.mdi.mdi-chevron-double-right
                | Wegstremmingens

        .footer-col
            h4.footer-col-header Follow us

            a(href="#").footer-col-social-item: em.mdi.mdi-facebook
            a(href="#").footer-col-social-item: em.mdi.mdi-google-plus
            a(href="#").footer-col-social-item: em.mdi.mdi-linkedin
            a(href="#").footer-col-social-item: em.mdi.mdi-instagram