//- jquery
script(src="./assets/dist/jquery/jquery.min.js")

//- jquery
script(src="./assets/dist/chosen/chosen.jquery.min.js")

//- angular
script(src="./assets/dist/angular/angular.min.js")

//- js cookie
script(src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js")
script(src="./assets/dist/js-cookie/js.cookie.js")

//- google maps @TODO: ADD [KEY] 
script(src="//maps.googleapis.com/maps/api/js?key=[KEY]")

//- custom script
script(src="./assets/js/app.js")