/*==========  Style Sheet - Third-party  ==========*/
.nano {
    position : relative;
    width    : 100%;
    height   : 100%;
    overflow : hidden;
}
.nano > .nano-content {
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
}
.nano > .nano-content:focus {
    outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}
.nano > .nano-pane {
    position   : absolute;
    width      : 4px;
    right      : 6px;
    top        : 3px;
    bottom     : 3px;
    cursor: pointer; 
    background-color: rgba(255, 255, 255,.1);
    transition: background .2s;
}
.nano > .nano-pane > .nano-slider {
    background: $bc;
    position              : relative;
    margin:  0;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    background-color: rgba(255, 255, 255,.2);
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}