/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Open Sans', arial, sans-serif;

// text color
$tc:                #555;

// base color
$bc:                #70c567;

// placeholder text color
$ptc:               #736666;