/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Open Sans', arial, sans-serif;

// text color
$tc:                #555;

// base color
$bc:                #d13b3b;

// placeholder text color
$ptc:               #6f747e;