.popup.popup-notification.active
    .popup-backdrop(ng-click="modal.close($event)")
    .popup-inner: .popup-content
        a(href="#" ng-click="modal.close($event)").popup-close.mdi.mdi-close
        div(ng-class="{{['modal-notification-' + modal.type]}}").modal-notification
            .modal-notification-title
                em(ng-class="modal.icon").mdi 
                | {{ modal.title }}
            .modal-notification-desc(ng-bind="modal.desc")
            .modal-notification-desc-lg(ng-bind="modal.descLarge")