extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Adres
            .view-subtitle Vul het adres van de ontvanger in

        .view-content
            .form
                .form-group
                    label.form-label CONTACTNAAM
                    input(type="text" placeholder="Vul naam in").form-control
                .form-group
                    label.form-label TOKEN ADRES
                    input(type="text" placeholder="Vul token adres in ").form-control
                .form-group
                    label(for="add_contact").checkbox
                        input(name="add_contact" id="add_contact" type="checkbox" hidden)
                        .checkbox-box: .mdi.mdi-check
                        .checkbox-text Toevoegen aan mijn contactenlijst

        .view-footer
            a(href="#").button.button-success.button-wide BEVESTIG
