extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Ask
            .view-subtitle Fill in details of your request

        .view-content
            .form
                .form-group
                    label.form-label DESCRIPTION
                    input(type="text" placeholder="Description Here").form-control
                .form-group
                    label.form-label AMOUNT
                    input(type="text" placeholder="Fill in Amount").form-control

        .view-footer
            a(href="#").button.button-success.button-wide MAKE REQUEST
