extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
            .view-title DigiD

        .view-content
            .splash
                .splash-header
                    .splash-nav
                        a(href="#"): em.mdi.mdi-arrow-left.icon-left
                .splash-content
                    .splash-logo: img(src="/assets/img/DigiD.png")
                    .splash-title Open DigiD app
                    .splash-subtitle (Op dit apparaat)

