extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
            .view-title Log In

        .view-content
            .splash.splash-login
                .splash-content
                    .splash-logo: img(src="/assets/img/login-logo.svg")
                    .splash-title Welcome to Me
                    .splash-subtitle Let’s set up your identity
                    .button.button-wide.button-success.mrg.mrg-bottom-20 CREATE NEW
                    .button.button-wide.button-success-outline.mrg.mrg-bottom-20 RESTORE IDENTITY

