extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Kindpakket
            .view-subtitle Deze applicatie vraagt om toestemming voor het gebruik van de volgende eigenschappen

        .view-content
            .text Deze app vraagt toegang tot de volgende eigenschappen van jouw identiteit:
            .list
                .list-item
                    em.mdi.mdi-check.icon
                    | Voornaam
                .list-item
                    em.mdi.mdi-check.icon
                    | Achternaam
                .list-item
                    em.mdi.mdi-check.icon
                    | BSN
            .form
                label.form-label Toestaan voor
                .form-group
                    select.form-control
                        option(value="#") 1 uur
                        option(value="#") 6 uur
                        option(value="#") 12 uur


        .view-footer: .row
            .col.col-2: a(href="#").button.button-primary.button-wide WEIGEREN
            .col.col-2: a(href="#").button.button-success.button-wide TOESTAAN
