extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title QR-Code
            .view-pad.view-pad-lg

        .view-content
            .qr-code-element.qr-code-element-lg: img(src="/assets/img/qr-code.png")
            .heading.text-center Here is your personal QR-Code
            .text.text-center.text-muted Let somebody scan your personal QR-Code to send you tokens, assets or tickets

        .view-footer-account
            .view-footer-nav
                a(href="#").icon-left
                    em.mdi.mdi-wallet
                    | Wallet
                a(href="#").icon-center: em.mdi.mdi-qrcode-scan
                a(href="#").icon-right
                    em.mdi.mdi-format-list-checks
                    | Records

