extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Ask
            .view-subtitle Fill in details of your request

        .view-content
            .form
                .form-group
                    label.form-label DESCRIPTION
                    input(type="text" placeholder="Description Here").form-control
                .form-group
                    label.form-label AMOUNT
                    input(type="text" placeholder="Fill in Amount").form-control

        .view-footer
            a(href="#").button.button-success.button-wide MAKE REQUEST

    .popup.popup-primary
        .popup-backdrop
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Transactie
                .popup-subtitle &nbsp;
                .popup-close Sluit
            .popup-content-body
                .popup-transaction.popup-transaction-in
                    .popup-transaction-counterpart
                        .popup-transaction-counterpart-icon.mdi.mdi-earth
                        .popup-transaction-counterpart-name Lidl Zuidhorn
                        .popup-transaction-counterpart-date 19 mei, 14:08


                    .popup-transaction-hero
                        .popup-transaction-hero-value € 21,56
                        .popup-transaction-hero-note Betaald

                    .popup-transaction-info
                        .popup-transaction-info-label Verzonden vanaf:
                        .popup-transaction-info-value Kindpakket 2018
                        .popup-transaction-info-label Receiver:
                        .popup-transaction-info-value Lidl Zuidhorn
                        .popup-transaction-info-label Date:
                        .popup-transaction-info-value 19.05.2018

