extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Ask
            .view-subtitle Fill in details of your request

        .view-content
            .form
                .form-group
                    label.form-label DESCRIPTION
                    input(type="text" placeholder="Description Here").form-control
                .form-group
                    label.form-label AMOUNT
                    input(type="text" placeholder="Fill in Amount").form-control

        .view-footer
            a(href="#").button.button-success.button-wide MAKE REQUEST

    .popup.popup-success
        .popup-backdrop
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Aanmelden
                .popup-subtitle &nbsp;
            .popup-content-body
                .popup-pincodeview
                    .pincodeview
                        .pincodeview-digit 1 
                        .pincodeview-devider • 
                        .pincodeview-digit 2 
                        .pincodeview-devider • 
                        .pincodeview-digit 3 
                        .pincodeview-devider • 
                        .pincodeview-digit 4 
                        .pincodeview-devider • 
                        .pincodeview-digit 5 
                        .pincodeview-devider • 
                        .pincodeview-digit 6 
                    
                .text.text-center Vul deze pincode in uw profiel in
                .text-center 
                    .button.button-narrow.button-primary-outline Hoe werkt het?
            .popup-content-footer
                a(href="#").button.button-dim.button-wide SLUIT

