extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Ask
            .view-subtitle Fill in details of your request

        .view-content
            .form
                .form-group
                    label.form-label DESCRIPTION
                    input(type="text" placeholder="Description Here").form-control
                .form-group
                    label.form-label AMOUNT
                    input(type="text" placeholder="Fill in Amount").form-control

        .view-footer
            a(href="#").button.button-success.button-wide MAKE REQUEST

    .popup.popup-primary
        .popup-backdrop
        .popup-content: .popup-content-inner
            .popup-content-header
                .popup-title Validatie
                .popup-subtitle Validatie verzoek. Scan de QR-Code
                .popup-close Sluit
            .popup-content-body
                .popup-qrcode: img(src="/assets/img/qr-code.png").popup-qrcode-img
                .text.text-center Toon deze QR-code aan de validator
                .text-center 
                    .button.button-narrow.button-primary-outline Kijk wie jouw gegevens kan valideren

