extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
            .view-title PIN instellen
            .view-subtitle Maak een 4 cijferige pincode aan
            .view-header-pincode
                .pincode
                    .pincode-digit.active
                        .pincode-digit-value 1
                        img(src="/assets/img/shape-square.png").pincode-digit-shape
                    .pincode-digit.active 
                        .pincode-digit-value 2
                        img(src="/assets/img/shape-square.png").pincode-digit-shape
                    .pincode-digit 
                        .pincode-digit-value _
                        img(src="/assets/img/shape-square.png").pincode-digit-shape
                    .pincode-digit
                        .pincode-digit-value _
                        img(src="/assets/img/shape-square.png").pincode-digit-shape
                    input(type="number").pincode-input

        .view-content
            .text.text-center 
                br
                br
                | Vul een 4 cijferige toegangscode in.
                br 
                | Dit is uw persoonlijke pincode

        .view-footer: .row
            .col.col-2: a(href="#").button.button-dim.button-wide ANNULEREN
            .col.col-2: a(href="#").button.button-success.button-wide BEVESTIGEN
