extends layout/layout
block content
    .view.view-footer-x2
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Nieuw profiel
            .view-subtitle Vul uw gegevens in

        .view-content
            .form
                .form-group
                    label.form-label VOORNAAM
                    input(type="text" placeholder="uw voornaam").form-control
                    div.form-error Voornaam is verplicht!
                .form-group
                    label.form-label ACHTERNAAM
                    input(type="text" placeholder="uw achternaam").form-control
                .form-group
                    label.form-label BURGERSERVICENUMMER
                    input(type="text" placeholder="uw burgerservicenummer (BSN)").form-control
                .form-group
                    label.form-label E-MAIL
                    input(type="text" placeholder="uw e-mailadres").form-control
                .form-group
                    label.form-label TELEFOONNUMMER
                    input(type="text" placeholder="uw telefoonnummer").form-control

        .view-footer
            a(href="#").button.button-success.button-wide PROFIEL TOEVOEGEN
            a(href="#").button.button-dim.button-wide VUL DEMO
