extends layout/layout
block content
    .view.view-footer-x2
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Aanmelden
            .view-pad.view-pad-lg

        .view-content
            .qr-code-element.qr-code-element-lg: img(src="/assets/img/qr-code.png")
            .heading.text-center Log in via de QR-Code
            .text.text-center.text-muted Scan deze QR-Code met een ander apparaat waar u al op aangemeld bent

        .view-footer: .row
            .col.col-4: a(href="#").button.button-primary.button-wide INLOGGEN MET PINCODE
            .col.col-4: a(href="#").button.button-dim.button-wide INLOGGEN VIA E-MAIL

