extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Versturen
            .view-subtitle Vul de gegevens van uw betaling in

        .view-content
            .form
                .form-group
                    label.form-label BESCHRIJVING
                    input(type="text" placeholder="Vul de beschrijving in").form-control
                .form-group
                    label.form-label BEDRAG
                    input(type="text" placeholder="Vul het bedrag in").form-control

        .view-footer: .row
            .col.col-2: a(href="#").button.button-primary.button-wide ADRES
            .col.col-2: a(href="#").button.button-success.button-wide SCAN QR-CODE
