extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
                a(href="#"): em.mdi.mdi-account-outline.icon-right
            .view-title Kantoor
            .view-subtitle Hier kunt u uw bezittingen bewerken
            img(src='/assets/img/icon-real-estate.png').view-header-circle

        .view-content
            .form
                .form-group
                    label.form-label ADRES
                    input(type="text" placeholder="ADRES" value="Ulgersmaweg 35, 9731BK ").form-control
                .form-group
                    label.form-label TYPE
                    select.form-control(name="" disabled)
                        option Gebouw

        .view-footer
            a(href="#").button.button-success.button-wide OPSLAAN
