extends layout/layout
block content
    .view
        .view-header.view-header-blue
            .view-nav
                a(href="#"): em.mdi.mdi-arrow-left.icon-left
            .view-title DigiD

        .view-content
            .splash.splash-welcome
                .splash-content
                    .splash-logo: img(src="/assets/img/login-logo-white.svg")
                    .splash-title Welcome to me

