extends ../layout/layout-markup
block content
    .section.section-content: .wrapper
        .window
            .window-content
                .window-header
                    | De gemeente moet het gebruik van de lokale voedselketen stimuleren.
                    a(href="#").back
                        em.mdi.mdi-arrow-left 
                        | Terug
                .window-body.pad.pad-top-0: .form.form-sm
                    .form-group
                        .form-label Stelling:
                        input(name="thesis" type="text" placeholder="Text here").form-control
                        .form-error This field is required
                    // remove from here
                    .form-group
                        .form-label Numer:
                        input(type="number" placeholder="Text here").form-control
                    .form-group
                        .form-label Textarea:
                        textarea(placeholder="Textarea").form-control
                    .form-group
                        .form-label Select:
                        select(placeholder="Textarea").form-control
                            option Option 1
                            option Option 2
                    // to here
                    .form-group
                        .form-label Antwoorden (minimaal: 2)
                        .list-options(list-sortable)
                            .list-option-item(template).hidden
                                .mdi.mdi-dots-vertical.handle
                                input(name="options[]" type="text" placeholder="Text").form-control
                                a(href="#" delete-option).button.button-danger 
                                    em.mdi.mdi-delete
                                    | Verwijder
                            .list-options-root(list-sortable-root)
                            .list-option-item(add-option)
                                input(type="text" placeholder="Text" add-option-input).form-control
                                a(href="#" add-option-btn).button.button-primary 
                                    em.mdi.mdi-plus-circle
                                    | Extra antwoord
            .window-actions
                button(type="submit").button.button-primary.pull-left Toevoegen