extends ../layout/layout-markup
block content
    .wrapper: .section.section-posts
        .post-item: .post-item-inner
            .post-item-header
                .post-item-nth 1
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit
            .post-item-body
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        .post-item: .post-item-inner
            .post-item-header
                .post-item-nth 2
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit
            .post-item-body
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        .post-item: .post-item-inner
            .post-item-header
                .post-item-nth 3
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit
            .post-item-body
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
    .popups
        .popup.active.popup-forus-auth
            .popup-backdrop
            .popup-inner: .popup-content
                .popup-content-aside
                    .download-app
                        .download-app-title De app wordt momenteel alleen uitgeven via Android
                        .download-app-btn
                            .mdi.mdi-google-play
                            | Download it from
                            br
                            strong PLAY MARKET

                // step 2
                .popup-content-main(ng-if="auth.step == 3")
                    .section.section-share-success
                        .message
                            div(progress).progress: .mdi.mdi-check
                            .progress-title You successfully logged in
                    

                a(href="#" ng-click="auth.closeModals($event)").popup-close.mdi.mdi-close

        div(ng-repeat="modal in $root.modals.modals() track by $index" popup-modal modal="modal")