@import 'includes/fonts';
@import 'includes/vars';
@import 'includes/resetter';
@import 'includes/helpers';
@import 'includes/placeholders';
@import 'includes/third-party';

// COMMON
@import 'includes/common';

// DEV PAGES
@import 'includes/dev-pages';

html,
body {
    background: transparent;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font: 800 14px/28px $bf;
    border-radius: 2px;
    transition: all .4s;
    border: 1px solid transparent;
    cursor: pointer;

    &.button-success {
        color: #ffffff;
        background: rgba(99,204,83,1);
        background: linear-gradient(to right, rgba(99,204,83,1) 0%, rgba(166,229,139,1) 100%);

        &:hover {
            background: linear-gradient(to right, rgba(166,229,139,1) 0%, rgba(99,204,83,1) 100%);
        }
    }

    &.button-success-outline {
        color: #8493a7;
        border: 1px solid rgba(99,204,83,1);

        &:hover {
            color: #ffffff;
            border-color: transparent;
            background: rgba(99,204,83,1);
            background: linear-gradient(to right, rgba(99,204,83,1) 0%, rgba(166,229,139,1) 100%);
        }
    }

    &.button-primary {
        color: #ffffff;
        background: rgba(36,179,218,1);
        background: linear-gradient(to right, rgba(36,179,218,1) 0%, rgba(91,197,213,1) 100%);

        &:hover {
            background: linear-gradient(to right, rgba(91,197,213,1) 0%, rgba(36,179,218,1) 100%);
        }
    }

    &.button-primary-outline {
        color: #1294d4;
        background: transparent;
        border-color: #1294d4;

        &:hover {
            color: #ffffff;
            background: rgba(36,179,218,1);
            background: linear-gradient(to right, rgba(36,179,218,1) 0%, rgba(91,197,213,1) 100%);
        }
    }

    &.button-dim {
        color: #ffffff;
        background: rgba(61,81,105,1);
        background: linear-gradient(to right, rgba(61,81,105,1) 0%, rgba(51,69,91,1) 100%);
        
        &:hover {
            background: linear-gradient(to right, rgba(51,69,91,1) 0%, rgba(61,81,105,1) 100%);
        }
    }

    &.button-wide {
        width: 100%;
        text-align: center;
    }

    &.button-narrow {
        line-height: 18px;
    }

    &.button-disabled, &[disabled] {
        background: #e2eff6;
        border-color: #e2eff6;
        color: #9cb1bc;
        cursor: default;

        &:hover {
            background: #e2eff6;
            border-color: #e2eff6;
            color: #9cb1bc;
        }
    }
}

.text, .heading {
    color: #1a1b1e;
    font: 400 16px/26px $bf;
    margin: 0 0 30px;
}

.heading {
    font: 500 18px/32px $bf;
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #676d77 !important;
}

.text-primary {
    color: #1294d4 !important;
}

.list {
    display: block;
    margin: 0 0 30px;

    .list-item {
        display: block;
        color: #1d437b;
        font: 800 24px/30px $bf;
        margin-bottom: 20px;

        .icon {
            display: block;
            float: left;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            color: #fff;
            background: #6ed05c;
            font-size: 24px;
            text-align: center;
            margin-right: 10px;
        }
    }
}

.row {
    margin: 0 -10px;
}

.col {
    display: block;
    float: left;
    padding: 0 10px;

    &.col-1 {
        width: 25%;
    }

    &.col-2 {
        width: 50%;
    }

    &.col-3 {
        width: 75%;
    }

    &.col-4 {
        width: 100%;
    }
}

.popup {
    @include fill_parent();
    position: fixed;
    z-index: 3;

    .popup-backdrop {
        @include fill_parent();
        position: fixed;
        background: rgba(0,0,0,.4);
        z-index: 1;
    }

    .popup-content {
        width: 100%;
        position: absolute;
        padding: 20px;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .popup-content-inner {
        background: #fff;
        max-width: 100%;
        width: 400px;
        margin: 0 auto;
        padding: 20px;
    }

    .popup-icon {
        display: block;
        width: 100%;
        padding: 30px 0;

        .mdi {
            font-size: 50px;
            height: 60px;
            width: 60px;
            border-radius: 60px;
            background: #6cbf5a;
            color: #fff;
            text-align: center;
            line-height: 60px;
            display: block;
            margin: auto;
        }
    }

    .popup-title {
        margin-bottom: 30px;
        text-align: center;
        font: 500 24px $bf;
    }
}

.hero {
    text-align: center;
    float: left;
    width: 100%;
    border: 1px dotted #ccc;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 5px;

    .hero-title {
        color: #1a1b1e;
        font: 700 34px $bf;
    }

    .hero-subtitle {
        color: #676d77;
        font: 400 16px/24px $bf;
    }
}

.form {
    .form-group {
        margin-bottom: 20px;
        width: 100%;
    }

    label.form-label {
        display: block;
        color: #414955;
        font: 700 12px/24px $bf;
    }
    
    .form-control {
        display: block;
        width: 100%;
        outline: none;
        font: 700 18px/30px $bf;
        height: 50px;
        padding: 10px 0;
        background: transparent;
        border: 2px solid transparent;
        border-bottom: 2px solid #f1f3f5;
        color: #414955;
    }

    .form-error {
        display: block;
        color: #8f2121;
        font: 400 16px/32px $bf;
    }
}

.checkbox {
    @include cf();

    .checkbox-box {
        display: block;
        float: left;
        color: #ffffff;
        background: transparent;
        width: 24px;
        height: 24px;
        border-radius: 3px;
        line-height: 22px;
        text-align: center;
        font-size: 18px;
        margin-right: 10px;
        font-weight: 700;
        border: 1px solid #8fd269;
        transition: .4s;
        color: transparent;
    }

    .checkbox-text {
        font: 500 14px/24px $bf;
        color: #1a1b1e;
    }

    input[type="checkbox"]:checked+.checkbox-box {
        background: #8fd269;
        color: #fff;
    }
}

.qr-code-element {
    width: 100%;
    margin: -20px 0 30px;
    float: left;

    img {
        width: 150px;
        margin: -75px auto 0;
        display: block;
        padding: 5px;
        background: #fff;
    }

    &.qr-code-element-lg {
        img {
            padding: 10px;
            width: 230px;
            display: block;
            margin: -115px auto 0;
        }
    }
}

.splash {
    background: #fff;
    @include fill_parent();
    position: fixed;
    padding: 20px;
    z-index: 2;

    .splash-header {        
        .splash-nav {
            padding: 0 0 20px;
            @include cf();

            .icon-left,
            .icon-right {
                color: #20659e;
                font-size: 32px;
                display: block;
            }

            .icon-left {
                float: left;
                margin-left: -5px;
            }

            .icon-right {
                float: right;
            }
        }
    }

    .splash-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        padding: 20px;

        .form {
            width: 100%;
        }
    }

    .splash-logo {
        cursor: pointer;
        width: 130px;
        height: 130px;
        border-radius: 130px;
        padding: 25px;
        background: #e9f3f8;
        display: block;
        margin: 0 auto 20px;

        img {
            display: block;
            width: 100%;
        }
    }

    .splash-title {
        color: #20659e;
        font: 600 24px/36px $bf;
    }

    .splash-subtitle {
        color: #8493a7;
        font: 300 16px/26px $bf;
        margin: 0 0 30px;
    }

    &.splash-login {
        .splash-logo {
            width: 110px;
            height: auto;
            padding: 0;
            background: transparent;

            img {
                width: 100%;
            }
        }

        .splash-title {
            color: #1a1b1e;
            font: 700 32px $bf;
        }

        .splash-subtitle {
            color: #676d77;
            font: 400 16px $bf;
            margin-bottom: 40px;
        }
    }

    &.splash-welcome {
        background: rgba(101,201,212,1);
        background: linear-gradient(to bottom, rgba(101,201,212,1) 0%, rgba(26,173,218,1) 100%);

        .splash-logo {
            width: 110px;
            height: auto;
            padding: 0;
            background: transparent;
        }

        .splash-title {
            color: #fff;
            font: 700 34px $bf;
        }
    }
}

.list-group-list {
    .list-group-header {
        margin: 0 -20px;
        padding: 0 20px;
        border-bottom: 1px solid #ccd1d8;
        font: 800 15px/30px $bf;
        padding-bottom: 10px;
        color: #414955;
    }

    .list-group-items {
        margin: 0 -20px;
        padding: 0 20px;
        border-bottom: 1px solid #ccd1d8;
    }

    .list-group-item,
    .list-group-item-custom {
        padding: 15px 0;
        border-bottom: 1px solid #ccd1d8;
        position: relative;
        cursor: pointer;
        @include cf();
    }

    .list-group-item:last-of-type {
        border-bottom: none;
    }

    .list-group-item-custom {
        font: 600 18px/40px $bf;
        margin: 0 -20px;
        padding: 15px 20px;

        .icon {
            margin-left: 10px;
            margin-right: 20px;
            display: block;
            float: left;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            border-radius: 40px;
            background: #6fd05a;
            font-size: 26px;
        }

        .list-group-arrow {
            right: 20px;
        }
    }

    .list-group-icon {
        float: left;
        width: 65px;
        margin-right: 20px;
    }

    .list-group-title {
        color: #414955;
        font: 600 24px/40px $bf;
    }

    .list-group-subtitle {
        color: #8493a7;
        font: 300 16px/25px $bf;
    }

    .list-group-arrow {
        color: #ccd1d8;
        font-size: 30px;
        position: absolute;
        right: 0;
        top: 50px;
        transform: translate(0, -50%);
    }

    .list-group-subitems {
        border-top: 1px solid #ccd1d8;
        padding: 0 0 0 80px;
        margin-top: 15px;
        margin-bottom: -15px;

        .list-group-subitem {
            border-bottom: 1px solid #ccd1d8;
            padding: 10px 0;
            position: relative;

            .list-group-subitem-label {
                color: #8493a7;
                font: 400 12px/24px $bf;
            }

            .list-group-subitem-value {
                color: #414955;
                font: 500 17px/30px $bf;
            }

            .list-group-subitem-icon {
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translate(0, -50%);
                width: 24px;
                height: 24px;
                display: block;
                border-radius: 24px;
                line-height: 24px;
                color: #fff;
                text-align: center;
                background: #ccd1d8; 
            }

            &:last-child {
                border-bottom: none;
            }

            &.list-group-subitem-checked {
                .list-group-subitem-icon {
                    background: #62da73; 
                }
            }
        }
    }
}

.list-resources {
    margin: -20px;
    padding: 10px;

    .resource-item {
        background: #ffffff;
        box-shadow: 2px 2px 10px rgba(0,0,0,.1);
        padding: 20px 100px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 10px;
        text-align: center;

        &.resource-item-no-buttons {
            padding: 20px;
        }
    }

    .resource-value {
        font: 600 24px $bf;
        color: #414955;
        margin-bottom: 10px;
    }

    .resource-label {
        font: 400 16px $bf;
        color: #1294d4;
    }

    .resource-btn-left,
    .resource-btn-right {
        position: absolute;
        height: 100%;
        width: 70px;
        top: 0;
        left: 0;
        transition: .4s;

        .mdi {
            transition: .4s;
        }
    }

    .resource-btn-left {
        background: #fffcfb;
        border-right: 1px solid #e5e6e9;
        color: #ff6949;

        .mdi {
            color: #ff6949;
        }

        &:hover {
            background: #ff6949;
            color: #fff;

            .mdi {
                color: #fff;
            }
        }
    }

    .resource-btn-right {
        right: 0;
        left: auto;
        background: #f7fcfd;
        border-left: 1px solid #e5e6e9;
        color: #4cafe0;

        .mdi {
            color: #4cafe0;
        }

        &:hover {
            background: #4cafe0;
            color: #fff;

            .mdi {
                color: #fff;
            }
        }
    }

    .resource-btn-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font: 500 12.5px $bf;

        .mdi {
            font-size: 40px;
            line-height: 30px;
            height: 30px;
            display: block;
        }
    }
}

.view {
    @include fill_parent();

    .view-header {
        width: 100%;
        padding: 20px 20px 15px;
        @include cf();

        .view-nav {
            padding: 0 0 20px;
            @include cf();

            .icon-left,
            .icon-right {
                color: #fff;
                font-size: 32px;
                display: block;
                position: relative;
                z-index: 2;
            }

            .icon-left {
                float: left;
                margin-left: -5px;
            }

            .icon-right {
                float: right;
                margin-right: -5px;
            }

            .view-nav-text {
                left: 0;
                right: 0;
                color: #fff;
                text-align: center;
                position: absolute;
                width: 100%;
                z-index: 1;
                padding: 0 60px;
                font: 500 18px/30px $bf;
                @include ellipsis();
            }
        }

        .view-title {
            color: #fff;
            font: 800 32px/40px $bf;

            .mdi {
                float: right;
                color: #fff;
                font-size: 32px;
                line-height: 40px;
            }
        }

        .view-navtabs {
            display: flex;
            flex-wrap: nowrap;
            float: left;
            width: 100%;
            padding-top: 15px;

            .tab-item {
                width: 100%;
                color: #fff;
                display: block;
                cursor: pointer;
                text-align: center;
                @include ellipsis();
                font: 700 15px $bf;
                padding: 15px;
                border-bottom: 2px solid transparent;

                &.tab-item-active {
                    border-bottom-color: #fff;
                }
            }
        }

        .view-searchbar {
            color: #fff;
            width: 100%;
            float: left;
            cursor: pointer;

            .view-searchbar-inner {
                margin: 0 -20px -15px;
                background: #4c9eac;
                font: 600 16px/30px $bf;
                padding: 20px;
                text-align: center;
                position: relative;
            }

            .searchbar-icon {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translate(0, -50%);
                font-size: 28px;

            }
        }

        .view-pad {
            height: 90px;
            display: block;
            width: 100%;

            &.view-pad-lg {
                height: 130px;
            }
        }

        .view-subtitle {
            color: #fff;
            font: 400 14px $bf;
        }

        &.view-header-blue {
            background-color: rgba(96,197,213,1);
            background: linear-gradient(to right, rgba(96,197,213,1) 0%, rgba(33,177,217,1) 100%);
        }

        &.view-header-dark-blue {
            background: rgba(25,53,71,1);
            background: linear-gradient(to right, rgba(25,53,71,1) 0%, rgba(28,38,44,1) 100%);
        }
    }

    .view-content {
        padding: 20px 20px 90px;
        position: relative;
        background: #fff;
        @include cf();

        &.transparent {
            background: transparent;
        }
    }

    .view-footer {
        background: #fff;
        height: 90px;
        padding: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .view-footer-account {
        background: #fff;
        height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: 0px -5px 20px rgba(0,0,0,.025);

        .view-footer-nav {
            padding: 0 40px;

            .icon-left, 
            .icon-center, 
            .icon-right {
                text-align: center;
                font: 500 11px $bf;
                color: #9cb1bc;
                transition: .4s;

                .mdi {
                    font-size: 24px;
                    color: #9cb1bc;
                    width: 100%;
                    display: block;
                    transition: .4s;
                }

                &:hover, &.icon-active {
                    color: #57c849;

                    .mdi {
                        color: #57c849;
                    }
                }
            }
            .icon-left, 
            .icon-right {
                padding: 5px 0;

                .mdi {
                    line-height: 26px;
                }
            }

            .icon-center {
                position: absolute;
                left: 50%;
                bottom: 0;
                display: block;
                width: 65px;
                border-radius: 65px;
                height: 65px;
                line-height: 63px;
                text-align: center;
                background: #fff;
                border: 1px solid #eaf3f8;
                transform: translate(-50%);
                box-shadow: 0px -5px 20px rgba(0,0,0,.05);
                color: #fff;
                background: #fff;

                .mdi {
                    font-size: 30px;
                    color: #9cb1bc;
                }

                &:hover, &.icon-active {
                    background: #57c849;

                    .mdi {
                        color: #fff;
                    }
                }
            }

            .icon-left {
                float: left;
            }

            .icon-right {
                float: right;
            }
        }
    }
}