doctype
html(lang="en")
    include includes/head
    body(ng-app="meApp" ng-controller="BaseController").transparent-body
        include includes/header
        block content
        include includes/footer
        include includes/scripts