.section.section-content: .wrapper
    .window
        .window-content
            .window-header
                | {{ $ctrl.vote.title }}
                a(ui-sref="votes").back
                    em.mdi.mdi-arrow-left 
                    | Back
            .window-body.pad.pad-top-10
                p.text {{ $ctrl.vote.description }}
                div(ng-if="$ctrl.countResponses != 0").chart-container
                    canvas(id="myChart" width="400" height="400")
                    .chart-desc 
                        | Aantal uitgebrachte stemmen: 
                        strong {{ $ctrl.countResponses }}
                div(ng-if="$ctrl.countResponses == 0").window-body
                    br
                    br
                    p.text-center No votes yet
                    br
                    br