.dev-pages
    h1 
        b Quick Dev Template (qdt) - Theme 
        | - website pages
    ul
        li: a(href="index.html") Index
        li: a(href="welcome-splash.html") Index
        li: a(href="ask.html") Ask
        li: a(href="send.html") Send
        li: a(href="address.html") Address
        li: a(href="new-profile.html") New profile
        li: a(href="login-kindpakket.html") Login kindpakket
        li: a(href="digid.html") DigiD
        li: a(href="login.html") Log In
        li: a(href="delegate.html") Delegate
        li: a(href="personal-qr-code.html") Personal Address
        li: a(href="payment-request.html") Payment request
        li: a(href="restore.html") Restore
        li: a(href="validators.html") Validators
        li: a(href="records.html") Records
        li: a(href="wallet.html") Wallet
        li: a(href="popup.html") Popup

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off