.dev-pages
    .dev-pages-inner
        h1: strong Auth 
        ul
            li: a(href="index.html") Index
            li: a(href="login.html") Log In
            li: a(href="register.html") Register
            li: a(href="register-pincode.html") Register Pin Code
            li: a(href="restore.html") Restore
            li: a(href="restore-variant.html") Restore variant
        h1: strong Transactions 
        ul
            li: a(href="ask.html") Ask
            li: a(href="send.html") Send
        h1: strong Other 
        ul
            li: a(href="address.html") Address
            li: a(href="login-kindpakket.html") Login kindpakket
            li: a(href="digid.html") DigiD
            li: a(href="delegate.html") Delegate
            li: a(href="personal-qr-code.html") Personal Address
            li: a(href="payment-request.html") Payment request
            li: a(href="validators.html") Validators
            li: a(href="records.html") Records
            li: a(href="wallet.html") Wallet
            li: a(href="wallet-asset-page.html") Asset page
            li: a(href="wallet-token-page.html") Token page
            li: a(href="wallet-voucher-page.html") Voucher page
            li: a(href="validate-record-request.html") Validate record request
        h1: strong Popups 
        ul
            li: a(href="popup-success.html") Success
            li: a(href="popup-error.html") Error
            li: a(href="popup-primary.html") Primary
            li: a(href="popup-timer.html") Timer
            li: a(href="popup-email-login.html") Email login
            li: a(href="popup-hero.html") Hero
            li: a(href="popup-qrcode.html") QRCode
            li: a(href="popup-pincode.html") Pin Code
            li: a(href="popup-transaction-out.html") Transaction Out
            li: a(href="popup-transaction-in.html") Transaction In

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off