.section.section-header: .wrapper
    a(href="#").header-logo
        img(src="./assets/img/logo.svg")
        | StemApp
    .navbar
        a(href="#").navbar-item.pull-right
            em.mdi.mdi-logout
            | UITLOGGEN
        a(href="./list.html").navbar-item.pull-right
            em.mdi.mdi-account-box
            | INLOGGEN