.section.section-header: .wrapper
    a(href="#" ui-sref="landing").header-logo
        img(src="./assets/img/logo.svg")
        | StemApp
    .navbar
        div(ng-if="$root.credentials" ui-sref="logout").navbar-item.pull-right
            em.mdi.mdi-logout
            | UITLOGGEN
        div(ng-if="!$root.credentials" ng-click="$root.auth.signIn($event)").navbar-item.pull-right
            em.mdi.mdi-account-box
            | INLOGGEN