//- add qdt config object to javascript
script.
    var qdt_c = !{JSON.stringify(qdt_c)};

//- jquery
if (qdt_c.platform.libs.jquery)
    script(src="assets/dist/jquery/jquery.min.js")

//- underscore
if (qdt_c.platform.libs.underscore)
    script(src="assets/dist/underscore/underscore-min.js")

//- underscore.string
if (qdt_c.platform.libs['underscore.string'])
    script(src="assets/dist/underscore.string/underscore.string.min.js")

//- bootstrap 3
if (qdt_c.platform.libs.bootstrap_3)
    script(src="assets/dist/bootstrap/js/bootstrap.min.js")

//- angular
if (qdt_c.platform.libs.angular)
    script(src="assets/dist/angular/angular.min.js")
    
//- angular 2
if (qdt_c.platform.libs.angular_2)
    //- 1. Load libraries
    //- IE required polyfill
    script(src="assets/dist/@angular2/core-js/client/shim.min.js")

    script(src="assets/dist/@angular2/zone.js/dist/zone.js")
    script(src="assets/dist/@angular2/reflect-metadata/Reflect.js")

    script(src="assets/dist/@angular2/rxjs/bundles/Rx.js")

    script(src="assets/dist/@angular2/@angular/core/bundles/core.umd.js")
    script(src="assets/dist/@angular2/@angular/common/bundles/common.umd.js")
    script(src="assets/dist/@angular2/@angular/compiler/bundles/compiler.umd.js")
    script(src="assets/dist/@angular2/@angular/platform-browser/bundles/platform-browser.umd.js")
    script(src="assets/dist/@angular2/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js")

    if (!qdt_c.platform.tasks.disabled.js && qdt_c.platform.libs.angular_2)
        //- 2. Load our 'modules'
        script(src="assets/js/angular-2/app.component.js")
        script(src="assets/js/angular-2/app.module.js")
        script(src="assets/js/angular-2/app.main.js")

//- custom script
script(src="assets/js/app.js")

if (!qdt_c.platform.tasks.disabled.ts)
    script(src="assets/js/app-ts.js")