.dev-pages
    h1 
        b Quick Dev Template (qdt) - Theme 
        | - website pages
    ul
        li: a(href="index.html") Index
        li: a(href="index-popup-1.html") Index popup 1
        li: a(href="index-popup-2.html") Index popup 2
        li: a(href="list.html") List
        li: a(href="edit.html") Edit
        li: a(href="chart.html") chart

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off