//- .dev-pages
//-     h1 
//-         b Quick Dev Template (qdt) - Theme 
//-         | - website pages
//-     ul
//-         li: a(href="/") Index
//-         li: a(href="/search") Search results
//-         li: a(href="/apply-verification/1") Apply verification
//-         li: a(href="/donate-category") Donate category
//-         li: a(href="/citizen-list") Citizen list
//-         li: a(href="/requests") Requests
//-         li: a(href="/make-donation") Make donation
//-         li: a(href="/become-a-supplier") Becoma a Suplier 
//-         li: a(href="/check-token") Check token

//-     a(href="#").show
//-         span.mdi.mdi-radioactive
//-         span.mdi.mdi-pin
//-         span.mdi.mdi-pin-off